<nav class="navbar">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav">
                <li><a ng-href="#/">Strona Główna</a></li>
                <li><a ng-href="#monit">Monitoring</a></li>
                <li><a ng-href="#moisture">Wilgotność Gleby</a></li>
                <li><a ng-href="#other">Inne</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right acme-navbar-text">
                <li>Application was created.</li>
            </ul>
        </div>
    </div>
</nav>
