<div>
    <acme-navbar></acme-navbar>
</div>
<div class="animated fadeInLeft">
    <div class="panel panel-default">
        <div style="width: 60%;margin-left: auto; margin-right: auto; ">
            <form ng-submit="monit.myFunc(userForm.$valid)" name="userForm">
                <label>Nazwa zadania</label>
                <input type="text" class="form-control" placeholder="Nazwa zadania" ng-model="monit.name" name="name" ng-minlength="3" ng-maxlength="25" required>
                <p ng-show="userForm.name.$error.required" class="alert alert-danger">Opis jest wymagany.</p>
                <p ng-show="userForm.name.$error.minlength" class="alert alert-danger">Opis jest za krótki.</p>
                <p ng-show="userForm.name.$error.maxlength" class="alert alert-danger">Opis jest za długi.</p>
                <p class="alert alert-warning">Przynajmniej 3 znaki, max 25</p>
                <button type="submit" class="btn btn-default">dodaj zadanie</button>
            </form>
        </div>
        <div id="container">Placeholder for chart</div>
    </div>
</div>
